.app-container {
  text-align: center;
  padding-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
form {
  background-color: rgba(255, 255, 255, 0);
  padding: 5rem;
  border-radius: 0.5rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-size: 1.25rem;
}
.submit-form {
  margin: 1rem;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
}
.centered-container {
  display: inline-block !important;
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 768px;
  width: 1024px;
}

.bad-input {
  /* background: rgba(255, 0, 0, 0.556); */
  border: 1px solid rgb(255, 0, 0);
}

.menu-option {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}

.level {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}

.level-selector {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 768px;
  width: 1024px;
}

.user {
  font-size: 2rem;
  color: white;
  margin-bottom: 3rem;
}
.score-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 768px;
  width: 1024px;
  flex-direction: column;
  text-align: center;
}
.score {
  font-size: 2rem;
  color: white;
}
.score-menu-back {
  margin-top: 4rem;
}
input {
  margin: 1rem;
  background: rgba(255, 255, 255, 0.039);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.set-invisible {
  visibility: hidden;
}

.game-over {
  color: #d7797b;
  font-size: 3rem;
}
.score-value {
  color: #d7797b;
  font-size: 2rem;
}

.clear-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 768px;
  width: 1024px;
}
